@import './variables.scss';
body {
  font-family: $main-font;
}

.admin-dashboard {
  border-radius: 4px;
  background: #f6fafd;
  border-bottom-right-radius: 10px;
  margin: 0;
}

.sidebar {
  border-radius: 4px 0px 0px 4px;
  background: #ffffff ;
  height: 100%;
  //border-radius: 4px;
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
    li {
      display: block;
      margin: 12px;
      padding: 10px;

      &:hover {
        background: $pink;
        border-radius: 5px;
        color:#ffffff;
        fill:#ffffff;
        a {
          color: #ffffff;
        }
        svg{
          path{
            fill: #ffffff;
          }
        }
      }

      svg {
        height: 24px;
        width: 24px;

        path {
          fill: $gray;
          margin:2px;
          &:hover{
            fill:#ffffff;
          }
        }
      }

      a {
        color: $gray;
        line-height: 24px;
        height: 24px;
        display: block;

        &:hover {
          text-decoration: none;
          color:#ffffff;
        }
      }
    }
  }
}

header {
  border-top-right-radius: 10px;
  background: #ffffff;
  padding: 10px;
  border-bottom: 1px solid #f1f6fa;

  .search {
    display:inline-block;
    background-color: #f6fafd;
    border: none;
    border-radius: 5px;
    padding: 4px;

    input {
      margin-left: 5px;
      background: transparent;
      border: none;
    }
  }
}

.school-form {
  padding: 10px;
  margin: 10px;

  label {
    display: block;
    font-weight: bold;
  }

  input[type="text"] {
    display:inline-block;
    background-color: #ffffff;
    border: 1px solid #f1f6fa;
    border-radius: 5px;
    padding: 4px;
    margin-bottom: 10px;
  }
  .btn-pink{
    background-color: $pink;
    border: $pink;
    width: 50%;
    color:#ffffff;
    &:hover{
        background-color: $navy;
        border: $navy;
        color:#ffffff;
    }
    &:active{
         background-color: $navy;
         border: $navy;   
         color:#ffffff;         
    }
    &:focus{
        background-color: $navy;
        border: $navy;  
        color:#ffffff;          
    }
  
  }
}

.school-dashboard {
  margin: 10px;
  padding: 10px;

  .title {
    color:$logo-color;
    font-weight: 800;
    padding:0;
  }
  .section-name{
    color:$neo-orange;
  }
}

.school-details {
  margin: 10px;
  padding: 10px;

  label {
    display: block;
  }

  div p {
    display:inline-block;
    background-color: #ffffff;
    border: 1px solid #f1f6fa;
    border-radius: 5px;
    padding: 4px;
    margin-bottom: 10px;
  }
}

a.card-home{
  text-align: center;  
  width: 100%;
  &:hover {
    text-decoration: none;
  }
  .card{
    height: 210px;
    &:hover {
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
    img{
      margin: auto;
      width: 130px;

  }

} 
}


.table {
  a svg{
    width: 25px;
    height: 25px;
  }
}
